*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color:rgb(232, 232, 232);
}


.headerPart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 1rem;
}

.blog{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.headerPart h2{
    text-align: center;
}

.headerPart p{
    text-align: center;
    max-width:580px;
    color: rgb(68, 66, 66);
    font-weight: 500;
}


.mainContainer{
    margin-top: 1rem;
    width: 65vw;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
}



@media (min-width:671px) {
    .mainContainer{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width:1000px) {
    .mainContainer{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (min-width:1328px) {
    .mainContainer{
        grid-template-columns: repeat(4,1fr);
    }
}

.cards{
    display: flex;
    flex-direction: column;
    border:1px solid rgb(128, 128, 128);
    border-radius: 10px;
    overflow: hidden;
}

.cards:hover .imageSection a img{
    transform: scale(1.12);
}

.cards:hover .discription a h3{
    color: rgb(22, 44, 212);
}


.imageSection a img{
    width: 100%;
    height: 80%;
    transition: all 0.4s ease;
}

.discription{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: -2rem;
}

.discription a h3{ 
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.91rem;
}


.discription a h3:hover{ 
    color: rgb(22, 44, 212);
}


.discription p{ 
    margin-top:0.29rem;
    color: rgb(83, 82, 82);
    font-size: 0.8rem;
}

.footerSection{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
    margin-bottom: 0.4rem;
}

.avatarSection{
    display: flex;
    gap:0.45rem;
}

.avatar img{
    width: 1.9rem;
    background-color: rgb(195, 195, 195);
    border-radius: 50%;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
}

.info #txt1{
    font-size: 1rem;
    color: rgb(124, 48, 196);
    font-weight: 600;
    line-height: 1rem;
}

.info #txt2{
    font-size: 0.7rem;
    color: rgb(83, 83, 83);
    line-height: 0.7rem;
}

.deptSection span{
    border: 1px solid black;
    padding: 0.25rem;
    font-size: 0.7rem;
    color: rgb(79, 79, 79);
    border-radius:3px;
    margin-right: 0.6rem;
}



